.input-narrow{
    width: 30%;
}
.form-narrow{
    width: 90%
}
table{
    width: 100%
}
th.name{
    width: 40%
}
th.price{
    text-align: right;
    width: 10%
}
td.check{
    text-align: center;
}
td.price{
    text-align: right
}
.app-modal-window .modal-dialog {
    width: 900px;
    border: 20px
}

.app-modal-window .modal-content{
    padding: 20px;
}